/*INDEX only*/
.parallax {
    margin: 0 auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    max-width: 100%;
    position: relative;
}

.parallax__titulo {
    color: $colorSecundario;
    font-size: 8rem;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%;
    font-family: $letraTitulosPrincipales;
    font-weight: 800;
    text-shadow: 0px 0.5rem 0.5rem #000000;
}

$fondoParallax:(/*mapa de imagenes de fondo*/
uno: url("../multimedia/parallax_mask.jpeg"),
dos: url("../multimedia/Parallax_planner.jpeg"),
tres: url("../multimedia/Parallax.jpeg")
);
/*Creamos el bucle para usar los valores del mapa*/
@each $fondo, $imagen in $fondoParallax {
    .img-#{$fondo} {
        background-image: $imagen;
    }
}

.parallax__texto {
    padding: 4% 25%;
    width: auto;
    p {
        text-indent: 2rem;
        font-size: 2rem;
        margin: 2rem;
    }
}
.dondeEstamos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 5%;
    width: auto;
    text-align: center;
    img {
        @include sizes(200px, 150px);
    }
}
