$colorPrincipal:#b7b694;
$colorSecundario: #C1433F;
$colorPrincipalDegradado:#b7b694a0;
$letraTitulosPrincipales: 'Lily Script One', cursive;
$letraCuerpo: 'Source Sans Pro', sans-serif;

$estilosBasicos: (
    Fondo: $colorPrincipal,
    tFuente: 100%,
    altoLinea: 1.3,
    fuente: $letraCuerpo,
    alineacion: justify,
);
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}
