/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0;
}



/*HTML STYLES*/

html{
    font-size: 62.5%; /* cambiamos la etiqueta raiz, y ahora se cuenta de 10px en 10px. */
}



/*COMMON STYLES*/

body{
    background-color: silver;
	font-size:100%;
	line-height: 1.3;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify;

}
.homeBody{
    /*background-color:#b7b694;*/
    background-image: 
        url(../multimedia/linen_grey.jpg);
    background-repeat:repeat-x repeat-y;
    background-size: auto;
}
header{
    grid-area: headerInd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    position: sticky;
    width:auto;
    top:0;
    height:10rem;
    z-index: 9999;
    background-color:  #b7b694;
}
.header-logo__image{
    margin-left: 100px;
    width:10rem;
    height: 5rem;
}
.header-logo__image--animated {
    animation: jackInTheBox; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
    margin-left: 100px;
    width:10rem;
    height: 5rem;
}
.header-login{
    position: fixed;
    top: 15px;
    right: 110px; 
}
.header-login__LinkImg{
    width: 1.2rem;
    height: 1.2rem; 
}
.header-menu{
    align-self:center;
    justify-content: end;
    flex-basis: 0%;
}
.navegacion{
    width: auto;
}
footer{
    grid-area: footerIn;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #000000;
    size-adjust: 100%;
    color: #b7b694;
    padding: 1.5rem;  
    width:auto;
}
footer div p{
    font-size: 1rem;
}
.creadoPor{
    width: auto;
}

.menu li{
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
    position: relative;  
    font-size: 1.5rem;
    align-self: flex-end; 
}
.menu li a:hover{
    background-color: #d34a4583;
    background-size: 1.2rem;
    color:#b7b694; 
    font-weight: bold;
}

.menu li a{
    text-decoration: none;
    color: #C1433F;
    margin: 0 0.5rem 0 0.5rem;
}

.loginLink{
    position: fixed;
    top: 15px;
    right: 110px;   
}

.loginLinkImg{
    width: 1.2rem;
    height: 1.2rem;    
}




/* BODY STYLES*/
.cardPropia{
    background: none;
}
.textoNosotros{
    background: rgba(183, 182, 148, 0.515);
	width: auto;
    border-color: silver;
    border-width: 0.2rem;
    border-style: outset;
}
.textoNosotros__titulo{
	color:#d34a45;
	font-size: 3rem;
	text-align: center;
    font-family: 'Lily Script One', cursive;
    /*font-family: 'Palanquin Dark', sans-serif;*/
    font-weight: 800;
    text-shadow: 0px 0.5rem 0.5rem #000000;
}
.textoNosotros p{
    text-indent: 2rem;
    font-size: 1.5rem;
	margin: 1rem;
    padding:1rem;
    font-weight: bold;
    color: #000000;
    text-align: justify;
}
.textoNosotros ul li{
    text-decoration:underline;
}
.textoNosotros ul li p{
    text-indent: 2rem;
    font-size: 2rem;
    font-weight: 1000;
    color: #000000;
    text-decoration:none;
}
.categorias{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: justify;
}
.categorias-textil{
    display: flex;
    flex-direction: row;
}
.categorias-papel{
    display: flex;
    flex-direction: row;
}
.grid-gallery{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,0.5fr);
    grid-template-areas:
        "item1 item2 item2"
        "item3 item4 item7"
        "item5 item6 item7"
        "item8 item9 item9";
    height: auto;
    width: auto;
    overflow: hidden;
    padding: 0 10rem;
    margin: 5rem 0;
    gap: 1.5rem;
}
.grid-gallery div{
width: 100%;
height: auto;
overflow: hidden;
}
.grid-gallery div img{
width: 100%;
height: auto;
}
.grid-gallery div:hover{
    width: 120%;
    height: auto;
    overflow: visible;
    z-index: 9999;
    border: solid black 5px;
    transform: rotate(25deg);
    }

.grid-gallery-item1{
    grid-area: item1;
}
.grid-gallery-item2{
    grid-area: item2;
}
.grid-gallery-item3{
    grid-area: item3;
}
.grid-gallery-item4{
    grid-area: item4;
}
.grid-gallery-item5{
    grid-area: item5;
}
.grid-gallery-item6{
    grid-area: item6;
}
.grid-gallery-item7{
    grid-area: item7;
}
.grid-gallery-item8{
    grid-area: item8;
}
.grid-gallery-item9{
    grid-area: item9;
}

.mensajePagina{
    height: auto;
    font-family: 'Lily Script One', cursive;
    margin: 2.5rem 0;
    text-align: center;
    font-size: 3rem;
    animation: rotateIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

.lagomBold{
    font-family: 'Lily Script One', cursive;
    font-size: 2.2rem;
}




.parallax {margin:0 auto}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:40rem;
	max-width: 100%;
	position: relative
}
.parallax__titulo{
	color:#d34a45;
	font-size: 8rem;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%;
    font-family: 'Lily Script One', cursive;
    /*font-family: 'Palanquin Dark', sans-serif;*/
    font-weight: 800;
    text-shadow: 0px 0.5rem 0.5rem #000000;

}

.img-uno{background-image: url("../multimedia/parallax_mask.jpeg")}

.img-dos{background-image: url("../multimedia/Parallax_planner.jpeg")}

.img-tres{background-image: url("../multimedia/Parallax.jpeg")}

.parallax__texto p{
    text-indent: 2rem;
    font-size: 2rem;
	margin: 2rem
}
.parallax__texto{
    padding: 4% 25%;
	width: auto;
}

.dondeEstamos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 5%;
    width: auto;
    text-align: center;
}

.dondeEstamos img{
    height: 150px;
    width: 200px;
}



footer div p{
    font-size: 1.1rem; 

}
.siguenos{
    width: auto;
}
.followUs{
    position: relative;
    top: 1.5rem;
    right: 5rem;
}
.social-Network ul{
    display: inline-block;
}

.social-Network ul li a img{
    width: 24px;
    height: 24px;
    }

    /*revisar porque no se fija dnde se quiere cuando se usa top o bottom*/
    

.detalleProducto{
font-size: 1.5rem;
margin: 0.2rem;
padding:0.2rem;
width: 100%;
}
.encabezados{
    background-color: #C1433F;
    border-width: 2px 2px 2px 0px;
    font-size: 2.5rem;
    height: auto;
    color: #b7b694;
    text-align: center;
    text-justify: center;
    width:auto;
}
div[class*="producto-"]{
    height: auto;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    border: #C1433F solid;
    border-width: 0 2px 2px 2px;
    padding: 2rem;
}

.producto__nombre{
    text-align: center;
}
.producto__categoria{
    text-align: center;
}
.producto__colores{
    text-align: center;
}

.producto__miniatura img{
    width: 20rem;
    height: 20rem;
    transition: width 2s;
}
.producto__miniatura img:hover{
    width: 25rem;
    height: 25rem;
    overflow: visible;
    z-index: 9999;
    border: solid black 3px;
    }


.tituloTabla{
    display: block;
    color:#d34a45;
	font-size: 5rem;
	text-align: center;
	font-family: 'Lily Script One', cursive;
    font-style: bold;
    font-weight: 800;
    text-shadow: 0px 2px 5px #000000;
    margin: 2rem;
}
.botonMiCuenta{
    border-radius: 1rem;
    width: 24rem;
    height:5rem;
    font-size: 2rem;
    margin: 2rem;
    align-self: center;
}
.botonMiCuenta:hover{
    border-radius: 1rem;
    background-color:#C1433F;
    color: #b7b694;
}
.textoContacto{
    text-align: center;
}
.textoContacto p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}
.formularioDeContacto{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem;
    width: 50%;
    text-align: start;
    justify-content: center;
    background-color:#4E9AC6;
}
.formularioDeContacto input{
    width: 50%;
    align-self: center;
padding: 0.5rem;
margin: 0.5rem;
}
.formularioDeContacto label{
    font-weight: bold;
    width: 80%;
    align-self: center;
    text-align: center;
}
.formularioDeContacto textarea{
    font-size: 2rem;
    padding: 1rem;
    margin: 2rem;
}
.formularioDeContacto h5{
    font-size: 2rem;
    padding: 1.5rem;

}
.newsletter{
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    color: darkgrey;
}
.motivoConsulta{
    padding: 1rem;
    width: 40%;
    align-self: center;
}
.labelMotivoConsulta{
    margin-top: 5rem;
    padding: 1rem;
    font-size: 2rem;
}


@media screen and (max-width: 768px){
    .navegacion{
        width: auto;
        flex-wrap: nowrap;
    } 
    .header-logo {
        width: auto;
    }
    .navegacionBarra{
        width: auto;
    } 
    footer div{
        width: 50vw;
    }
    .mensajePagina{
        height: fit-content;
        font-family: 'Lily Script One', cursive;
        text-align: center;
        font-size: 5rem;
    }
    
    .parallax{
        overflow:hidden;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size:  cover;
	    height:20rem;
	    max-width: 100%;
	    position: relative;
        align-content: center;
        justify-content: center;
    }
    .parallax__titulo{
	    color:#d34a45;
	    font-size: 2.5rem;
	    text-align: center;
	    font-family: 'Lily Script One', cursive;
        /*font-family: 'Palanquin Dark', sans-serif;*/
        font-style: bold;
        font-weight: 800;
        text-shadow: 0px 0.2rem 0.5rem #000000;
    }
    
    .parallax__texto p{
        font-size: 1.5rem;
        font-weight: 800;
        /*text-shadow: 0px 0.5rem 5.5rem silver;*/
    }
    .parallax__texto {
        padding: 5%;
    }

    .lagomBold{
        font-family: 'Lily Script One', cursive;
        font-size: 1.7rem;
    }
    .dondeEstamos{
        display: grid;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 5%;
        width: auto;
        row-gap: 5vh;
    }
    .dondeEstamos__image {
        width: 200px;
        height: 150px;
    }

    .dondeEstamos div p{
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: #d34a45;
        font-weight: bold;
        text-shadow: 0px 0.2rem 0.5rem #000000;
    }
        .textoNosotros{
        border-width: 1rem;
    }
    .textoNosotros__titulo{
        font-size: 3rem;
    }
    .textoNosotros p{
        font-size: 1.5rem;
    }
    .encabezados{
            width: auto;
            font-size: 1.5rem;
    }
    div[class*="producto-"] {
        font-size: 1rem;
        padding: 1rem;
    }
    
    .formularioDeContacto{
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 1.5rem;
        padding: 1rem;
        width: 100%;
        text-align: start;
        justify-content: center;
        background-color:#4E9AC6;
    }
    .formularioDeContacto label{
            font-weight: bold;
            width: 80%;
            align-self: center;
            text-align: center;
            font-size: 1.5rem;
    }

    .botonMiCuenta{
        border-radius: 1rem;
        width: 24rem;
        height:5rem;
        font-size: 1.5rem;
        margin: 2rem;
        align-self: center;
    }
        

}
@media screen and (max-width: 500px){
    .navegacion{
        width: auto;
        flex-wrap: nowrap;
    } 
    .header-logo {
        width: auto;
    }
    .header-logo__image{
        margin-left: 0;
    }
    .navegacionBarra{
        width: auto;
    }
    .mensajePagina{
        height: fit-content;
        font-family: 'Lily Script One', cursive;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .parallax{
        overflow:hidden;
        align-content: center;
        justify-content: center;
    }
    .parallax__titulo{
        font-family: 'Lily Script One', cursive;
        /*font-family: 'Palanquin Dark', sans-serif;*/
        font-style: bold;
        font-weight: 800;
        text-shadow: 0px 0.2rem 0.5rem #000000;
    }
    
    .parallax__texto p{
        font-size: 1.5rem;
        font-weight: 800;
        /*text-shadow: 0px 0.5rem 5.5rem silver;*/
        font-family:'Nanum Gothic', sans-serif;
    }
    .lagomBold{
        font-family: 'Lily Script One', cursive;
        font-size: 1.7rem;
    }
    
    footer div p{
        font-size: 1rem;
    }
    .followUs{
        text-align: center;
        text-justify: center;
        top:0;
        right: 0;
        padding: 1rem;
    }
    .nuestraHistoria{
        background-image: none;
    }
    .textoNosotros{
        border-style: none;
        background-color: rgba(192, 192, 192, 0.788)
    }
    .textoNosotros__titulo{
        font-size: 3rem;
    }
    .textoNosotros p{
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
    }
    .categorias-textil{
        display: flex;
        flex-direction: column;
    }
    .categorias-papel{
        display: flex;
        flex-direction: column;
    }
    .producto__nombre{
        grid-column: 1 / 2;

    }
    .producto__miniatura img{
        height: 10rem;
        width: 10rem;
    }
    .producto__miniatura{
        grid-column: 1 / 2;
    }
    .producto__categoria{
        grid-column: 2/ 3;
        text-align: center;
        justify-self: center;
    }
    .producto__colores{
        grid-column: 3 / 5;
    }
    .producto__masInfo{
        grid-column: 5 / 7;

    }
    
    .producto-1{
        grid-column: 1 / 7;
        grid-row: 2 / 3;
    }
    .producto-2{
        grid-column: 1 / 7;
        grid-row: 3 / 4;
    }
  

}
