/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0; }

/*Importando Hojas de Estilo*/
/*COMMON STYLES*/
html {
  font-size: 62.5%;
  /* cambiamos la etiqueta raiz, y ahora se cuenta de 10px en 10px. */ }

.homeBody {
  background-image: url(../multimedia/linen_grey.jpg);
  background-repeat: repeat-x repeat-y;
  background-size: auto; }

body {
  /*con Map-Get()*/
  font-size: 100%;
  line-height: 1.3;
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify; }

.menu li {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  align-self: flex-end; }
  .menu li a {
    text-decoration: none;
    color: #C1433F;
    margin: 0 0.5rem 0 0.5rem; }
    .menu li a:hover {
      background-color: #d34a4583;
      background-size: 1.2rem;
      color: #b7b694;
      font-weight: bold; }

.mensajePagina {
  height: auto;
  font-family: "Lily Script One", cursive;
  margin: 2.5rem 0;
  text-align: center;
  font-size: 3rem; }

.lagomBold {
  font-family: "Lily Script One", cursive;
  font-size: 2.2rem; }

.mybreadcrumb {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #C1433F; }

/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  position: sticky;
  width: auto;
  top: 0;
  height: 10rem;
  z-index: 9999;
  background-color: #b7b694; }

.header-logo {
  width: auto; }

.header-logo__image {
  margin-left: 100px;
  width: 10rem;
  height: 5rem; }

.header-logo__image--animated {
  animation: jackInTheBox;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s;
  /* don't forget to set a duration! */
  margin-left: 100px;
  width: 10rem;
  height: 5rem; }

.header-login {
  position: fixed;
  top: 15px;
  right: 110px; }

.header-login__LinkImg {
  width: 1.2rem;
  height: 1.2rem; }

.header-menu {
  align-self: center;
  justify-content: end;
  flex-basis: 0%; }

.navegacion {
  width: auto; }

.navegacionBarra {
  width: auto; }

footer {
  grid-area: footerIn;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #000000;
  size-adjust: 100%;
  color: #b7b694;
  padding: 1.5rem;
  width: auto; }
  footer div p {
    font-size: 2rem; }

.siguenos {
  width: auto; }

.followUs {
  text-align: center; }

.social-Network ul {
  display: inline-block; }
  .social-Network ul li a img {
    width: 24px;
    height: 24px; }
  .social-Network ul li a:hover {
    background-color: black; }

.creadoPor {
  width: auto; }

/*INDEX only*/
.parallax {
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  max-width: 100%;
  position: relative; }

.parallax__titulo {
  color: #C1433F;
  font-size: 8rem;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
  font-family: "Lily Script One", cursive;
  font-weight: 800;
  text-shadow: 0px 0.5rem 0.5rem #000000; }

/*Creamos el bucle para usar los valores del mapa*/
.img-uno {
  background-image: url("../multimedia/parallax_mask.jpeg"); }

.img-dos {
  background-image: url("../multimedia/Parallax_planner.jpeg"); }

.img-tres {
  background-image: url("../multimedia/Parallax.jpeg"); }

.parallax__texto {
  padding: 4% 25%;
  width: auto; }
  .parallax__texto p {
    text-indent: 2rem;
    font-size: 2rem;
    margin: 2rem; }

.dondeEstamos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 5%;
  width: auto;
  text-align: center; }
  .dondeEstamos img {
    height: 150px;
    width: 200px; }

.cardPropia {
  justify-self: center;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: auto;
  width: 800px;
  margin: 5rem auto; }

.textoNosotros {
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.634);
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  padding: 5rem 18rem; }
  .textoNosotros p {
    text-indent: 2rem;
    font-size: 2rem;
    color: #000000;
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif; }
  .textoNosotros h6 {
    color: black;
    font-size: 2rem;
    text-decoration: underline;
    font-weight: bold; }

.textoNosotros__titulo {
  color: #C1433F;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Lily Script One", cursive;
  font-weight: 800;
  text-shadow: 0px 0.5rem 0.1rem #000000;
  margin: 0 0 5rem 0; }

.nivelLectura {
  font-weight: bold;
  color: #C1433F; }

.formularioDeContacto {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  text-align: start;
  justify-content: center;
  background-image: url(../multimedia/contact-us.png);
  background-repeat: round; }
  .formularioDeContacto label {
    width: 100%;
    font-size: 1.6rem;
    align-self: center;
    text-align: center;
    color: #C1433F;
    text-shadow: 0px 0.1rem 0.1rem black; }
  .formularioDeContacto textarea {
    height: 200px;
    width: 100%;
    font-size: 2rem;
    padding: 0rem;
    margin: 2rem 0 0 0; }
  .formularioDeContacto h5 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    text-align: center;
    margin: 0.5rem 0 0 0; }

.newsletter {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  color: #302e2e; }

.motivoConsulta {
  padding: 0.5rem;
  width: 40%;
  align-self: center; }

.labelMotivoConsulta {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #C1433F;
  text-shadow: 0px 0.1rem 0.1rem black; }

.formularioDeContacto--input {
  align-self: center;
  padding: 1rem;
  margin: 0 2rem;
  height: 2rem;
  width: 100%; }

.boton, .boton--enviar, .boton--borrar {
  border-radius: 1rem;
  height: 4rem;
  width: 24rem;
  font-size: 2rem;
  margin: 0.2rem auto;
  align-self: center;
  color: white; }
  .boton:hover, .boton--enviar:hover, .boton--borrar:hover {
    border-radius: 1rem;
    background-color: #C1433F;
    color: #b7b694; }

.boton--enviar {
  background-color: green; }

.boton--borrar {
  background-color: darkgrey; }

.grid-gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 0.5fr);
  grid-template-areas: "item1 item2 item2 item4" "item1 item9 item9 item4" "item5 item9 item9 item6" "item8 item11 item7 item3" "item8 item10 item10 item3";
  height: 1200px;
  width: 1200px;
  overflow: hidden;
  padding: 0 10rem;
  margin: 50px auto;
  gap: 10px; }
  .grid-gallery div {
    height: auto;
    width: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center; }
    .grid-gallery div img {
      height: 100%;
      width: 100%; }
      .grid-gallery div img:hover {
        border: solid black; }
    .grid-gallery div:hover {
      overflow: visible; }

/*Creamos el bucle para usar los valores del mapa*/
.grid-gallery-item1 {
  grid-area: item1; }

.grid-gallery-item2 {
  grid-area: item2; }

.grid-gallery-item3 {
  grid-area: item3; }

.grid-gallery-item4 {
  grid-area: item4; }

.grid-gallery-item5 {
  grid-area: item5; }

.grid-gallery-item6 {
  grid-area: item6; }

.grid-gallery-item7 {
  grid-area: item7; }

.grid-gallery-item8 {
  grid-area: item8; }

.grid-gallery-item9 {
  grid-area: item9; }

.grid-gallery-item10 {
  grid-area: item10; }

.grid-gallery-item11 {
  grid-area: item11; }

.cardProducto {
  border-radius: 5%;
  border: solid 3px #C1433F;
  margin: 1rem;
  background-color: #b7b694a0; }
  .cardProducto img {
    border-radius: 7% 7% 0 0; }
  .cardProducto div h5 {
    font-weight: bold;
    font-size: 24px; }

.detalleProducto {
  font-size: 3rem;
  margin: 0.2rem;
  padding: 0.2rem;
  width: 100%; }

.cardProductoBody {
  font-size: 1.5rem; }

@media screen and (max-width: 768px) {
  .navegacion {
    flex-wrap: nowrap; }
  footer div {
    width: 50vw; }
    footer div p {
      font-size: 1.5rem; }
  .mensajePagina {
    height: fit-content;
    font-size: 5rem; }
  .parallax {
    overflow: hidden;
    height: 20rem;
    align-content: center;
    justify-content: center; }
  .parallax__titulo {
    color: black;
    font-size: 3rem;
    font-style: bold;
    text-shadow: 0px 0.2rem 0.5rem #C1433F; }
  .parallax__texto {
    padding: 5%; }
    .parallax__texto p {
      font-size: 1.5rem;
      font-weight: 800; }
  .lagomBold {
    font-size: 1.7rem; }
  .dondeEstamos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh; }
    .dondeEstamos img {
      width: 200px;
      height: 150px; }
  .formularioDeContacto {
    width: 100%;
    text-align: start; }
    .formularioDeContacto label {
      font-size: 1.5rem; }
  .cardPropia {
    height: auto;
    width: 800px;
    margin: 2rem auto;
    font-size: calc(0.5rem - ((1vw - 0.48rem))); }
  .textoNosotros__titulo {
    color: #C1433F;
    font-size: 3rem;
    text-align: center;
    font-family: "Lily Script One", cursive;
    font-weight: 800;
    text-shadow: 0px 0.1rem 0.1rem #000000;
    margin: 0 0 3rem 0; }
  .textoNosotros {
    padding: 2rem 6rem; }
    .textoNosotros h6 {
      color: black;
      font-size: 1.8rem;
      text-decoration: underline;
      font-weight: bold; }
  .botonMiCuenta {
    font-size: 1.5rem; }
  .grid-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "item1 item2 item2" "item1 item9 item9" "item5 item4 item6" "item8 item4 item6" "item8 item10 item10" "item11 item3 item7";
    height: 950px;
    width: 800px;
    padding: 0 8rem;
    gap: 10px; } }

@media screen and (max-width: 615px) {
  .textoNosotros p {
    font-size: 1.7rem; } }

@media screen and (max-width: 500px) {
  .header-logo {
    width: auto; }
  .header-logo__image {
    margin-left: 0; }
  .mensajePagina {
    font-size: 2rem; }
  footer {
    flex-direction: column !important; }
    footer div p {
      font-size: 1.5rem; }
  .followUs {
    text-align: center;
    text-justify: center;
    padding: 1rem;
    position: relative;
    top: 0;
    right: 0; }
  .grid-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.5rem;
    row-gap: 10px;
    height: 50%;
    width: 100%; }
  .cardPropia {
    height: auto250px;
    width: 100%;
    font: 400;
    margin: 1rem auto; }
    .cardPropia img {
      height: 400px; }
  .textoNosotros__titulo {
    color: #C1433F;
    font-size: 2rem;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-shadow: none;
    margin: 0 0 1rem 0; }
  .textoNosotros {
    padding: 3rem; }
    .textoNosotros p {
      font-size: 1.3rem;
      font-weight: 600; }
    .textoNosotros h6 {
      font-size: 1.3rem;
      font-weight: 900; } }
